@*User.Identity.IsAuthenticated*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle welcomLink" data-toggle="dropdown" title="Manage">Welcome, @User.Identity.Name <span class="caret"></span></a>
                <div class="dropdown-menu">
                    <ul>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Manage users", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Manage sections", "AllSections", "Admin")</li>
                            <li><a href="@Url.Action("Notifications", "Admin")"><span id="NotifCount" class="badge pull-right" style="padding-left: 10px;">0</span>Notifications</a></li>
                        }
                        @if (User.IsInRole("Moderator"))
                        {
                            <li>@Html.ActionLink("Manage categories", "Sections", "Moderator")</li>
                        }
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<script>
    $(document).ready(function() {
        $.ajax({
            type: "Post",
            url: '/Admin/NotificationCount',
            success: function (result) {
                debugger;
                $('#NotifCount').text(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    });
</script>
