@model IEnumerable<MvcPL.Models.SectionDetailsViewModel>

@{
    ViewBag.Title = "Sections";
}

@section Header
{
    <h2>@Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @style = "color: #666;" }) / All sections</h2>
}

@section Body
{
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table text-center vcenter">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SectionName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SettedModeratorLogin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categories)
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(item.IsBlocked ? "danger" : "")">
                            <td>
                                @Html.DisplayFor(modelItem => item.SectionName)&nbsp;
                                <span class="glyphicon@(item.IsBlocked ? " glyphicon-lock" : "")" id="span_@item.Id" aria-hidden="true"></span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SettedModeratorLogin)&nbsp;
                                @*@Html.ActionLink("Change", "", "", new {/*userId = item.Id*/}, new {@class = "btn-sm"})*@
                            </td>
                            <td>
                                <span name="showCategories" id="showCategories_@item.Id" class="glyphicon glyphicon-arrow-down"></span>
                                <div hidden>
                                    @foreach (var category in item.Categories)
                                    {
                                        <span>@category.ToString()</span><br />
                                    }
                                </div>
                            </td>
                            <td class="form-inline">
                                <button name="blockSection" id="@item.Id" class="btn btn-sm" value="@item.IsBlocked">
                                    <span class="spanInButton glyphicon@(item.IsBlocked ? " glyphicon-ok-circle" : " glyphicon-lock")" style="padding-left: 0;" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-sm">
                                    <span class="glyphicon glyphicon-edit" style="padding-left: 0;" aria-hidden="true"></span>
                                </button>
                                @*<input type="hidden" name="isBlocked" id="@item.Id" value="@item.IsBlocked"/>*@
                                @*@Html.ActionLink(item.IsBlocked ? "Unblock " : "Block ", "", "", new {/*userId = item.Id*/}, new {@class = "btn-sm"})*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <p class="btn btn-default">@Html.ActionLink("Create section", "CreateSection", null, new { @style = "color: #fff;" })</p>
}

@section scripts
{
    <script>
        $(document).ready(function () {

            $("span[name='showCategories']").click(function (event) {
                var idSelector = "#" + event.currentTarget.id;
                var hasClass = $(idSelector).hasClass('glyphicon-arrow-down');
                if (hasClass === true) {
                    $(idSelector).parent().children('div').prop('hidden', false);
                    $(idSelector).removeClass('glyphicon-arrow-down').addClass('glyphicon-arrow-up');
                } else {
                    $(idSelector).parent().children('div').prop('hidden', true);
                    $(idSelector).removeClass('glyphicon-arrow-up').addClass('glyphicon-arrow-down');
                }
            });

            $("button[name='blockSection']").click(function (event) {
                debugger;
                var idNumber = parseInt(event.currentTarget.id);
                var idSelector = '#' + idNumber;
                var blockModel = {};
                var detail = $(idSelector).find(':first-child').hasClass('glyphicon-ok-circle');
                if (detail === true) {
                    blockModel.IsBlocked = false;
                } else {
                    blockModel.IsBlocked = true;
                }
                blockModel.Id = idNumber;
                $.ajax({
                    type: "Post",
                    url: '/Admin/BlockSection',
                    data: JSON.stringify({ 'blockModel': blockModel }),
                    contentType: 'application/json',
                    success: function (result) {
                        debugger;
                        if (result === 'True') {
                            var detail = blockModel.IsBlocked;
                            if (detail === true) {
                                $(idSelector).find(':first-child').removeClass("glyphicon-lock").addClass("glyphicon-ok-circle");
                                $("#span_" + idNumber).addClass("glyphicon-lock");
                                $(idSelector).parent().parent().addClass("danger");
                            } else {
                                $(idSelector).find(':first-child').removeClass("glyphicon-ok-circle").addClass("glyphicon-lock");
                                $("#span_" + idNumber).removeClass("glyphicon-lock");
                                $(idSelector).parent().parent().removeClass("danger");
                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                    }
                });
            });
        });
    </script>
}
