@using MvcPL.Infrastructure.Mappers
@model IEnumerable<MvcPL.Models.UserDetailsViewModel>

@{
    ViewBag.Title = "Index";
}

@section Header
{
    <h2>All users</h2>
}

@section Body
{
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table text-center vcenter">
                <thead>
                <tr>
                    <th>
                        Profile photo
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Login)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roles)
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@(item.IsBlocked ? "danger" : "")">
                        <td>
                            @if (item.Photo != null)
                            {
                                @Html.Raw("<img class=\"img-circle\" style = \"height: 40px; width: 40px;\" src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Photo.ImageToByteArray()) + "\" />")
                            }
                            else
                            {
                                <img style="height: 40px;" src="~/Content/images/default_avatar.jpg" class="img-circle" />
                            }
                            &nbsp;
                            <span class="glyphicon@(item.IsBlocked ? " glyphicon-lock" : "")" aria-hidden="true"></span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td>
                            <span>@String.Join(" | ", item.Roles.Select(t => t.ToString()))</span>
                        
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "User", new {userId = item.Id}, new {@class = "btn-sm"})
                        </td>
                    </tr>
                }
                </tbody>


            </table>
        </div>
    </div>
}
