@model IEnumerable<MvcPL.Models.UserRegisterViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All users</h2>
<table class="table table-bordered text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @foreach (var role in item.Roles)
                    {
                        <span>
                            @role    
                        </span>
                    }
            </td>
            <td>
                @Html.ActionLink("Add role", "Edit", "", new {@class = "btn-sm" })
            </td>
        </tr>
    }
</table>

@*<p>
    @Html.ActionLink("Add new user", "Create")
</p>*@
